@import "../mixins";

$color: #7abe47;

body {
  padding: 0;
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto auto auto auto auto;
  border: 1px solid black;
  width: 250px;

  img {
    width: 100%;
  }

  .content {
    padding: 10px;

    h4 {
      font-size: x-large;
      font-weight: lighter;
      margin: 10px 0;
    }

    p:nth-child(3) {
      font-weight: bold;
      text-align: right;
      font-size: small;

      span {
        font-weight: normal;
        color: $color;
      }
    }

    button {
      background-color: $color;
      color: white;
      border: none;
      padding: 10px 10px;
      cursor: pointer;
      width: 100%;
    }
  }
}

@include menu-styles;
